.chatbox {
    position: relative;
    float:left;
    height: 90vh;
}
.btn-holder {
    position: absolute;
    left: 0; bottom: 0;
}
.inbox-holder {
    position: absolute;
    left: 100px; bottom: 0;
}